
@{
    ViewData["Title"] = "Danh Sách Gói Dịch Vụ";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sàn Thương Mại Điện Tử</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Gói Dịch Vụ</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <h3 class="card-title col-8 col-md-11 m-0 p-0 mt-2">Danh Sách Gói Dịch Vụ</h3>
                    <button id="reloadButton" type="button" class="btn btn-success col-4 col-md-1" onclick="onReloadGrid('listServiceTicket')">
                        <i class="fas fa-sync-alt h5 m-0 p-0"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body" style="height:700px;">
            <div id="listServiceTicket" style="height:700px;"></div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/LTEplugins/jsgrid/jsgrid.min.js"></script>
<script>
    $(function () {
        $("#listServiceTicket").jsGrid({
            height: "100%",
            width: "100%",
            paging: true,
            autoload: true,
            pagerFormat: "Trang: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
            pagePrevText: "Trước",
            pageNextText: "Tiếp",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",
            editing: true,
            inserting: true,
            reloadAfterSubmit: true,
            pageSize: 15,
            pageButtonCount: 5,
            controller: {
                loadData: function() {
                    var d = $.Deferred();
                    $.ajax({
                        type:"POST",
                        url: '@Url.Action("GetAllAsyncToList","ServiceTicket")'
                    }).done(function (response) {
                        console.log(response);
                        d.resolve(response);
                    });
                    return d.promise();
                },
                insertItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create","ServiceTicket")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $("#reloadButton").trigger('click');
                    });
                },
                updateItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Update","ServiceTicket")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $("#reloadButton").trigger('click');
                    });
                },
                deleteItem: function (item) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","ServiceTicket")',
                        data: item
                    }).done(function (respone) {
                        console.log(respone);
                        $("#reloadButton").trigger('click');
                    });
                }
            },

            fields: [
                
                { name: "name", type: "text", title:"Tên" , with:300 },
                { name: "price", type: "text", title: "Giá", with: 200 },
                { name: "dateCycleExpire", type: "text", title: "Chu Kỳ Hết Hạn (Ngày)", with: 200 },
                { name: "isFree", type: "checkbox", title: "Miễn Phí?", with: 200 },
                { name: "note", type: "text", title:"Ghi Chú" , with:200 },
                { name: "createDate", type: "text", title: "Ngày Tạo", with: 200, editing: false, inserting: false },
                { name: "createUser", type: "text", title: "Người Tạo",with:300, editing: false, inserting: false },
                { name: "updateDate", type: "text", title: "Ngày Sửa", with: 200, editing: false, inserting: false },
                { name: "updateUser", type: "text", title: "Người Tạo", with: 300, editing: false, inserting: false },
                { type: "control" }
            ]
        });
    });
</script>
