@{
    ViewData["Title"] = "Danh Sách Thành Viên";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Thành Viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Thành Viên</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Thành Viên</h3>
        </div>
        <div class="card-body" style="height:700px;">
            <div id="listUser" style="height:700px;"></div>
        </div>
    </div>
</section>
<script src="~/LTEplugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/LTEplugins/jquery/jquery.min.js"></script>
<script src="~/LTEplugins/jsgrid/jsgrid.min.js"></script>
<script>
    $(function () {
        $("#listUser").jsGrid({
            height: "100%",
            width: "100%",
            paging: true,
            autoload: true,
            editing: true,
            inserting: true,
            pageSize: 15,
            pageButtonCount: 5,
            controller: {
            loadData: function() {
                    var d = $.Deferred();

                    $.ajax({
                        type:"POST",
                        url: '@Url.Action("GetAllAsyncToList","User")'
                    }).done(function (response) {
                        console.log(response);
                        d.resolve(response);
                    });

                    return d.promise();
                }
            },

            fields: [
                { name: "fullname", type: "text", title:"Họ Tên" , with:200 },
                { name: "phone", type: "number", title: "Điện Thoại",with:200 },
                { name: "email", type: "text", title: "Eamil",with:400 },
                { name: "username", type: "text", title: "Tài Khoản",with:200 },
                { name: "password", type: "text", title: "Mật Khẩu",with:200 },
                { name: "isActive", type: "checkbox", title: "Kích Hoạt",with:80 },
                { name: "createDate", type: "text", title: "Ngày Tạo",with:200 },
                { name: "updateDate", type: "text", title: "Ngày Sửa", with: 200 },
                { type: "control" }
            ]
        });
    });
</script>


