@model VinaC2C.MVC.Models.UserModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VinaC2C - Đăng Nhập</title>
    <link href="~/css/sbadminstyle.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="login-background">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5 mb-2">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4"><img src="~/images/logo_black.png" width="159" height="46" alt="Logo" />|Quên Mật Khẩu</h3>
                                </div>

                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                <div class="card-body">
                                    <div class="small mb-3 text-center">Nhập Email Bạn Đã Dùng Để Đăng Ký Tài Khoản Chúng Tôi Sẽ Gửi Link Đặt Lại Mật Khẩu Cho Bạn</div>
                                    @using (Html.BeginForm("Login", "User", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            @Html.TextBoxFor(model => model.Email, new { @id = "inputEmailAddress", @class = "form-control py-4", @type = "email", @placeholder = "Email Đăng Ký" })
                                        </div>

                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" asp-action="Index" asp-controller="User">Trở Lại Đăng Nhập</a>
                                            <button class="btn btn-primary">Xác Nhận</button>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a asp-action="Register" asp-controller="User">Chưa Có Tài Khoản? Đăng Ký Miễn Phí!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Bản Quyền &copy; @DateTime.Now.Year VinaC2C Giải Pháp Cho Ngành Thương Mại Điện Tử</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>


