<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<style type="text/css">
	.mail-background{
		background-color:#b1b1b1; 
		width:100%;
	}
</style>
<body class="mail-background">
	<div>
		<div style="width:90%; margin:auto; padding:10px;background-color:#ffffff; box-shadow: -7px 0 4px -3px #000000, 7px 0 4px -3px #000000;">
        <div style="text-align:center;">
            <img src='https://image.freepik.com/vetores-gratis/compras-linha-de-fundo_1156-96.jpg' height="340" width="auto" style="border-radius: 50%;" />
        </div>
        <hr />
        <div style="text-align:center; color:#0082c6; font-weight:bold; font-size:24px;">THÔNG TIN THÀNH VIÊN</div>
        <div style="padding:10px; line-height:24px; font-size:18px;">
            <div>Chào Mừng Bạn Đến Với VinaC2C - Công Cụ Thương Mại Điện Tử</div>
            <div>
            	<div>Vui lòng nhấp vào liên kết kích hoạt tài khoản</div>
            	<a href="[ActiveLink]" style="text-decoration: none; color: blue;">Kích Hoạt Tài Khoản</a>
            </div>
        </div>
        <hr />
        <div style="padding:10px;">
        	Copyright &copy 2020 VinaC2C - Công Cụ Thương Mại Điện Tử
       	</div>
    </div>
	</div>
</body>
</html>