@{
    ViewData["Title"] = "VinaC2C - Tổng Quan";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Tổng Quan</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Tổng Quan</li>
                </ul>
            </div>
        </div>
    </div>
</div>
            
<div class="content">
    <div class="container-fluid">
        <div>
           <h1>Index</h1>
        </div>
    </div>
</div>

